html, body {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #A5C1FD, #22D145);
    background-size: 100% 100%;
    font-size: 20px;
    padding: 30px;
}

img:first-of-type {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 20px;
    margin: 20px;
}

p {
    text-align: justify;
    margin:20px;
    padding:20px;
}

.curiosidade {
    background-image: url(imgs/favo-de-mel.png);
    border: 2px solid #FD9D40;
    border-radius: 5px;
    padding: 30px;
}

.icone-curiosidade {
    float: left;
    padding-right: 20px;
}

.casta-de-abelha {
    border: 2px solid #DFD56B;
    border-radius: 50%;
}

#esquerda {
  float: left;
  margin-right:20px;
  margin-bottom:20px;
}

#direita{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

p.link {
    text-align :right;    
}

#luta-rainhas {
    margin-left: 250px;
}